*,
::before,
::after {

    margin: 0;
    padding: 0;
    border: 0;
}

.wrapper {
    max-width: 1100px;
    margin-inline: auto;
}

.gridWrapper {
    width: 1024px;
    aspect-ratio: 1;
    border: 1px solid oklch(0% 0 0);
}

.flexC {
    display: flex;
    flex-direction: column;
}

.alignCenter {
    align-items: center;
    text-align: center;
}

.contentBox {
    box-sizing: content-box;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}